<div class="container" id="search-container">
  <h2>Products</h2>
  <h2>Search Term: {{searchTerm}}</h2>
  <!-- <div class="" ng-repeat="product in products">
    <span>{{product.product.invoiceDescription}}</span>
    <a ng-href="#/product/{{product.product.upc}}">link</a>
  </div> -->

  <div>
    <h3>Angular Table</h3>
    <table ng-table="search.tableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="row in $data">
        <td data-title="'Company'">{{row.brand.name}}</td>
        <td data-title="'Name'">{{row.product.name}}</td>
        <td data-title="'Description'">{{row.product.invoiceDesription}}</td>
      </tr>
    </table>
  </div>

</div>
